NODE_ENV=development
PORT=4000

MONGO_URI=MONGO_URI=mongodb+srv://nihalmuhaednihal_db_user:eriiGVHJMcg4nQ5W@cluster0.leuln4q.mongodb.net/?replicaSet=Cluster0&retryWrites=true&w=majority

JWT_ACCESS_SECRET=replace-me-access-secret
JWT_REFRESH_SECRET=replace-me-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

BCRYPT_ROUNDS=10

CORS_ORIGIN=*
LOG_LEVEL=info
#  atlas pass = eriiGVHJMcg4nQ5W
 